<footer class="container">
    <div style="text-align: center; font-size: 20px; margin-bottom: 2%;">
        <p class="col-lg-4"></p>Arabic Corpus</p>
    <p class="col-lg-4"></p>19F-0910___19F-0915___19F-0916</p>
    <p class="col-lg-4"></p>Project Created by Team Glory-Akatski</p>
    <p class="col-lg-4"></p>Semester 6 Web Engineering Spring 2022</p>
</div>
</footer>