

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fa fa-book"></i> Add Books Manually
      </h1>
      <% include ./partials/messages %>
      <form action="/book/adda" method="POST">
        <div class="form-group">
          <label for="bookName">Book Name</label>
          <input
            type="text"
            id="bookName"
            name="bookName"
            class="form-control"
            placeholder="Enter Book Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="authorName">Author Name</label>
          <input
            type="text"
            id="authorName"
            name="authorName"
            class="form-control"
            placeholder="Enter Author Name"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="bookGenre">Book Genre</label>
          <input
            type="text"
            id="bookGenre"
            name="bookGenre"
            class="form-control"
            placeholder="Enter Book Genre"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label class="form-label" for="bookData">Browse book to add:</label>
          <input type="file" class="form-control" id="bookData" />  
      </textarea>
          
        </div>
        <input type="submit" name="submit" value="Add Book" class="btn btn-primary btn-block" />
      </form>
    </div>
  </div>
</div>