<% include ./partials/navPoems %>
<h1 class="mt-4" style="text-align: center; font-size: 50px; color: rgb(216, 207, 207);" >Add Poem Automatically</h1>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fa fa-book"></i> Add Poem Automatically
        </h1>
        <% include ./partials/messages %>
        <form action="/users/AddBooks" method="POST">
          <div class="form-group">
            <label for="poemname">Poem Name</label>
            <input
              type="text"
              id="poemname"
              name="poemname"
              class="form-control"
              placeholder="Enter Poem Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="authorname">Author Name</label>
            <input
              type="text"
              id="authorname"
              name="authorname"
              class="form-control"
              placeholder="Enter Author Name"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="genre">Poem Genre</label>
            <input
              type="text"
              id="genre"
              name="genre"
              class="form-control"
              placeholder="Enter Poem Genre"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="customFile">Browse poem to add:</label>
            <input type="file" class="form-control" id="customFile" />  
        </textarea>
            
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Add Poem
          </button>
        </form>
      </div>
    </div>
  </div>