<% include ./partials/navPoems %>
<h1 class="mt-4" style="text-align: center; font-size: 50px; color: rgb(216, 207, 207);" >Add Poem Manually</h1>
  
  <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fa fa-book"></i> Add Poem Manually
          </h1>
          <% include ./partials/messages %>
          <form action="/poem/add" method="POST">
            <div class="form-group">
              <label for="poemName">Poem Name</label>
              <input
                type="text"
                id="poemName"
                name="poemName"
                class="form-control"
                placeholder="Enter Poem Name"
                value="<%= typeof name != 'undefined' ? name : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="authorName">Author Name</label>
              <input
                type="text"
                id="authorName"
                name="authorName"
                class="form-control"
                placeholder="Enter Author Name"
              />
            </div>
            <div class="form-group">
              <label for="poemGenre">Poem Genre</label>
              <input
                type="text"
                id="poemGenre"
                name="poemGenre"
                class="form-control"
                placeholder="Enter Book Genre"
              />
            </div>
            <div class="form-group">
              <label for="poemData">Poem Content</label>
              <textarea 
              name="poemData" 
              id="poemData" 
              cols="77" 
              rows="10" 
              placeholder="Enter Poem Content" >
            </textarea>
              
            </div>
            <input type="submit" name="submit" value="Add Poem" class="btn btn-primary btn-block" />
          </form>
        </div>
      </div>
    </div>