<% include ./partials/navDashboard %>

<div class="jumbotron" style="background: rgb(180, 216, 220); width: 100%;">
    <div class="container">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-info" style="z-index: +1; position: absolute; margin-top: 8%;">
            <h1>Unleash The Potential Of Arabic Language</h1>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-12"><img src="https://images.unsplash.com/photo-1526243741027-444d633d7365?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29ycHVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Astronaut" style="margin-left: 50%; width: 60%;"></div>

        <button type="button" class="btn btn-block btn-primary btn-lg col-lg-12" style="width: 35%; ">Click Here For More Information</button>
    </div>
    <br>
</div>
<div class="col-lg-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsam reiciendis accusamus, exercitationem officia architecto provident veritatis ullam natus doloribus expedita enim quod consequatur quos illo ex minus nesciunt delectus?</div>
<div class="col-lg-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, dicta corrupti dolor, ipsa debitis quo quae in aliquid harum, deleniti ea necessitatibus libero vel officiis optio doloribus consequatur porro consequuntur!</div>

<br><br>
<footer>
    <div style="text-align: center; font-size: 20px;">
        Web Project Spring 2022 Batch 2019 Software Engineering
    </div>
</footer>