<% include ./partials/navPoems %>
    <h1 class="mt-4" style="text-align: center; font-size: 50px; color: rgb(216, 207, 207);">Read Poem</h1>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>
                            <b>Poem </b>List
                            <a href="/poem/add" class="">
                                <i class="fas fa-plus-circle" style="color:green"></i>
                            </a>
                        </h2>
                    </div>

                    <% include ./partials/footer %>