<% include ./partials/navProjDetails %>
    <h1 class="mt-4" style="text-align: center; font-size: 50px; color: rgb(216, 207, 207);">Project Details</h1>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12" style="font-size: 20px">
                        <p><b style="font-size: 30px">Project Name:</b> Arabic Corpus</p>
                        <p><b style="font-size: 30px">Semester :</b> 6th</p>
                        <p><b style="font-size: 30px">Year :</b> 2022</p>
                        <p><b style="font-size: 30px">Group Name :</b> Glory-Akatski</p>
                        <ul>
                            <li><b style="font-size: 20px">Member 1 :</b> Jonathan Perveiz --> 19F-0910</li>
                            <li><b style="font-size: 20px">Member 2 :</b> Zain-Ul-Abideen --> 19F-0915</li>
                            <li><b style="font-size: 20px">Member 3 :</b> Muhammad Abdullah --> 19F-0916</li>
                        </ul>
                        <p> <b style="font-size: 30px">Project Description:</b> Corpus linguistics is the study of a
                            language as that language is expressed in its text corpus (plural corpora), its body of
                            "real world" text. Corpus linguistics proposes that a reliable analysis of a language is
                            more feasible with corpora collected in the field—the natural context ("realia") of that
                            language—with minimal experimental interference.

                            The text-corpus method uses the body of texts written in any natural language to derive the
                            set of abstract rules which govern that language. Those results can be used to explore the
                            relationships between that subject language and other languages which have undergone a
                            similar analysis. The first such corpora were manually derived from source texts, but now
                            that work is automated.

                            Corpora have not only been used for linguistics research, they have also been used to
                            compile dictionaries (starting with The American Heritage Dictionary of the English Language
                            in 1969) and grammar guides, such as A Comprehensive Grammar of the English Language,
                            published in 1985.

                            Experts in the field have differing views about the annotation of a corpus. These views
                            range from John McHardy Sinclair, who advocates minimal annotation so texts speak for
                            themselves,[1] to the Survey of English Usage team (University College, London), who
                            advocate annotation as allowing greater linguistic understanding through rigorous recording.
                        </p>
                        <p style="font-size: 30px"><b>Project Details</b></p>
                        <ul>
                            <li style="font-size: 20px">It is a collection of Arabic Language,that can be used for research purpose</li>
                            <li style="font-size: 20px">We can use CRUD operations for Books and Poems</li>
                            <li style="font-size: 20px">Developed in Nodejs, ejs, mongoose, express and some other technologies</li>
                        </ul>
                    </div>
                    <% include ./partials/footer %>